/* You can add global styles to this file, and also import other style files */

.ml-auto {
  margin-left: auto;
}

.hover {
  cursor: pointer;
}

.border-left {
  border-left: 1px solid grey;
}

.border-right {
  border-right: 1px solid grey;
}
